fastapi
uvicorn[standard]
python-multipart
librosa
soundfile
numpy
nemo-toolkit[asr]
torch
torchaudio
onnxruntime
onnx
omegaconf
hydra-core
pytorch-lightning
transformers
pydantic
python-jose[cryptography]
pathlib2
requests
